<module xmlns='urn:jboss:module:1.1' name='org.jboss.eap5-client'>

  <resources>
    <resource-root path='activation.jar' />
    <resource-root path='antlr.jar' />
    <resource-root path='commons-logging.jar' />
    <resource-root path='concurrent.jar' />
    <resource-root path='ejb3-persistence.jar' />
    <resource-root path='FastInfoset.jar' />
    <resource-root path='getopt.jar' />
    <resource-root path='hibernate-annotations.jar' />
    <resource-root path='hibernate-commons-annotations.jar' />
    <resource-root path='hibernate-core.jar' />
    <resource-root path='hibernate-validator.jar' />
    <resource-root path='hornetq-core-client.jar' />
    <resource-root path='hornetq-jms-client.jar' />
    <resource-root path='jacorb.jar' />
    <resource-root path='javassist.jar' />
    <resource-root path='jaxb-api.jar' />
    <resource-root path='jaxb-impl.jar' />
    <resource-root path='jaxb-xjc.jar' />
    <resource-root path='jaxws-rt.jar' />
    <resource-root path='jaxws-tools.jar' />
    <resource-root path='jboss-aop-client.jar' />
    <resource-root path='jboss-appclient.jar' />
    <resource-root path='jboss-aspect-jdk50-client.jar' />
    <resource-root path='jboss-client.jar' />
    <resource-root path='jboss-common-core.jar' />
    <resource-root path='jbosscx-client.jar' />
    <resource-root path='jboss-deployers-client.jar' />
    <resource-root path='jboss-deployers-client-spi.jar' />
    <resource-root path='jboss-deployers-core.jar' />
    <resource-root path='jboss-deployers-core-spi.jar' />
    <resource-root path='jboss-deployers-vfs.jar' />
    <resource-root path='jboss-deployers-vfs-spi.jar' />
    <resource-root path='jboss-deployment.jar' />
    <resource-root path='jboss-ejb3-common-client.jar' />
    <resource-root path='jboss-ejb3-core-client.jar' />
    <resource-root path='jboss-ejb3-ext-api-impl.jar' />
    <resource-root path='jboss-ejb3-ext-api.jar' />
    <resource-root path='jboss-ejb3-proxy-clustered-client.jar' />
    <resource-root path='jboss-ejb3-proxy-impl-client.jar' />
    <resource-root path='jboss-ejb3-proxy-spi-client.jar' />
    <resource-root path='jboss-ejb3-security-client.jar' />
    <resource-root path='jboss-ejb3-vfs-spi.jar' />
    <resource-root path='jboss-ha-client.jar' />
    <resource-root path='jboss-ha-legacy-client.jar' />
    <resource-root path='jboss-iiop-client.jar' />
    <resource-root path='jboss-integration.jar' />
    <resource-root path='jboss-j2se.jar' />
    <resource-root path='jboss-jaspi-api.jar' />
    <resource-root path='jboss-javaee.jar' />
    <resource-root path='jbossjmx-ant.jar' />
    <resource-root path='jboss-jsr77-client.jar' />
    <resource-root path='jbossjts-integration.jar' />
    <resource-root path='jbossjts-jacorb.jar' />
    <resource-root path='jbossjts.jar' />
    <resource-root path='jboss-logging-jdk.jar' />
    <resource-root path='jboss-logging-log4j.jar' />
    <resource-root path='jboss-logging-spi.jar' />
    <resource-root path='jboss-mdr.jar' />
    <resource-root path='jboss-messaging-client.jar' />
    <resource-root path='jboss-metadata.jar' />
    <resource-root path='jboss-profileservice-client.jar' />
    <resource-root path='jboss-remoting.jar' />
    <resource-root path='jboss-security-spi.jar' />
    <resource-root path='jboss-serialization.jar' />
    <resource-root path='jboss-srp-client.jar' />
    <resource-root path='jbosssx-as-client.jar' />
    <resource-root path='jbosssx-client.jar' />
    <resource-root path='jboss-system-client.jar' />
    <resource-root path='jboss-system-jmx-client.jar' />
    <resource-root path='jbossws-common.jar' />
    <resource-root path='jbossws-framework.jar' />
    <resource-root path='jbossws-jboss50.jar' />
    <resource-root path='jbossws-native-client.jar' />
    <resource-root path='jbossws-native-core.jar' />
    <resource-root path='jbossws-native-jaxrpc.jar' />
    <resource-root path='jbossws-native-jaxws-ext.jar' />
    <resource-root path='jbossws-native-jaxws.jar' />
    <resource-root path='jbossws-native-saaj.jar' />
    <resource-root path='jbossws-spi.jar' />
    <resource-root path='jboss-xml-binding.jar' />
    <resource-root path='jettison.jar' />
    <resource-root path='jmx-client.jar' />
    <resource-root path='jmx-invoker-adaptor-client.jar' />
    <resource-root path='jnp-client.jar' />
    <resource-root path='log4j.jar' />
    <resource-root path='logkit.jar' />
    <resource-root path='mail.jar' />
    <resource-root path='netty.jar' />
    <resource-root path='scout.jar' />
    <resource-root path='slf4j-api.jar' />
    <resource-root path='slf4j-jboss-logging.jar' />
    <resource-root path='stax-api.jar' />
    <resource-root path='stax-ex.jar' />
    <resource-root path='streambuffer.jar' />
    <resource-root path='trove.jar' />
    <resource-root path='wsdl4j.jar' />
    <resource-root path='wstx.jar' />
    <resource-root path='xmlsec.jar' />
  </resources>
  <dependencies>
    <module name="javax.api"/>
  </dependencies>
</module>
